@media (min-width: 1180px) {
  body:not(.no-literate) .content {
  	width: 980px;
  }
  body:not(.no-literate) .content > pre {
  	width: 420px;
  }
}
.content pre {
	border: 1px solid #aaa;
	box-shadow: inset 0 0 10px #aaa;
}
li.active {
	text-decoration: underline;
}
.http-url {
	color: #3ac;
}
.inline-heading {
	font-weight: 100;
	font-family: sans-serif;
	color: #aaa;
	font-style: oblique;
	font-size:	0.9em;
}
.path-var {
	color: #3ac;
	border-bottom: 1px dotted #3ac;
	padding: 0px 2px;
}
.request-type {
	color: #008f00;
	font-weight: bold;
}
p {
	font-size: 1.2em;
}
.content ul li p {
	font-size: 1.0em;
}
.content ul li {
	font-size: 1.0em;
}
.content p code {
	font-size: 0.9em;
}
.content h3 {
	font-size: 2.0em;
}
.content pre > code {
	font-size: 1.0em;
}
.content pre > code span.keyword {
	font-size: 1.1em;
}
.content pre > code span.comment {
	font-size: 0.8em;
}