<html><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}</style>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width">

  <title>Appbase Documentation</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">

  <script async="" src="//www.google-analytics.com/analytics.js"></script><script type="text/javascript" src="/bower_components/docbase/scripts/polyfill.js"></script>
  <!-- Flatdoc -->
  <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/bower_components/flatdoc/legacy.js"></script>
  <script type="text/javascript" src="/bower_components/flatdoc/flatdoc.js"></script>

  <!-- Flatdoc theme -->
  <link rel="stylesheet" type="text/css" href="/bower_components/flatdoc/theme-white/style.css">
  <script type="text/javascript" src="/bower_components/docbase/scripts/flatdoc-theme.js"></script>

  <!-- DocBase -->
  <script type="text/javascript" src="/bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="/bower_components/angular-route/angular-route.js"></script>
  <script type="text/javascript" src="/bower_components/js-schema/js-schema.min.js"></script>

  <script type="text/javascript" src="/bower_components/docbase/scripts/docbase.js"></script>
  <script src="/bower_components/google-code-prettify/bin/prettify.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/bower_components/google-code-prettify/bin/prettify.min.css">
  <link rel="stylesheet" type="text/css" href="/bower_components/docbase/styles/main.css">
  <link rel="stylesheet" type="text/css" href="/bower_components/components-font-awesome/css/font-awesome.min.css">
  

  <!-- Custom -->
  <link rel="stylesheet" type="text/css" href="/styles/docs.css">

</head>
<body role="flatdoc" class="no-literate">
  <!--[if lt IE 10]>
     <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!-- ngView:  --><div ng-view="" class="ng-scope"><div class="container-fluid push ng-scope">
<!-- ngInclude: 'html/navbar.html' --><nav class="navbar navbar-default navbar-fixed-top ng-scope" ng-include="'html/navbar.html'"><div class="container-fluid ng-scope">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="https://appbase.io">
      <img src="/images/logo.svg">
    </a>
  </div>

  <div class="collapse navbar-collapse" id="navbar-collapse">
    <ul class="nav navbar-nav">
      <!-- ngRepeat: folder in map[currentVersion] --><li class="dropdown ng-scope" ng-repeat="folder in map[currentVersion]">
        <a ng-href="#/scalr/rest" class="dropdown-toggle ng-binding" data-toggle="dropdown" role="button" aria-expanded="false" ng-bind="folder.label" href="#/scalr/rest">REST</a>
        <ul class="dropdown-menu">
          <!-- ngRepeat: file in folder.files --><li ng-repeat="file in folder.files" class="ng-scope">
            <a ng-href=/scalr/rest/intro.html ng-bind="file.label" class="ng-binding" href=/scalr/rest/intro.html>Quick Start</a>
          </li><!-- end ngRepeat: file in folder.files -->
        </ul>
      </li><!-- end ngRepeat: folder in map[currentVersion] -->
    </ul>
    
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
           <span ng-bind="currentVersion" class="ng-binding">scalr</span> <span class="caret"></span>
        </a>
        <ul class="dropdown-menu version-switcher" role="menu">
          <!-- ngRepeat: version in versions --><li ng-repeat="version in versions" class="ng-scope">
            <a ng-href=/scalr/rest/intro.html ng-bind="version" class="ng-binding" href=/scalr/rest/intro.html>scalr</a>
          </li><!-- end ngRepeat: version in versions --><li ng-repeat="version in versions" class="ng-scope">
            <a ng-href=/v2.0/concepts/datamodel.html ng-bind="version" class="ng-binding" href=/v2.0/concepts/datamodel.html>v2.0</a>
          </li><!-- end ngRepeat: version in versions --><li ng-repeat="version in versions" class="ng-scope">
            <a ng-href=/v3.0/changelog/changelog.html ng-bind="version" class="ng-binding" href=/v3.0/changelog/changelog.html>v3.0</a>
          </li><!-- end ngRepeat: version in versions -->
        </ul>
      </li>
      <li class="github-star">
        <iframe src="https://ghbtns.com/github-btn.html?user=appbaseio&amp;repo=Docs&amp;type=star&amp;count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid --></nav>
  <div class="row">
    <div class="col-xs-12 landing">
      <h1>Appbase <b>Documentation</b></h1>
    </div>

    <div class="col-xs-12 list">

    	<a class="col-xs-12 col-md-4" href="http://docs.appbase.io/#/v2.0/javascript/api-reference">
    		<span> <i class="fa fa-code"></i> Javascript API Reference</span>
    	</a>
    	<a class="col-xs-12 col-md-4" href="http://docs.appbase.io/#/v2.0/rest/api-reference">
    		<span> <i class="fa fa-terminal"></i> REST API Reference</span>
    	</a>
    	<a class="col-xs-12 col-md-4" href="http://docs.appbase.io/#/v2.0/search/use-cases">
    		<span> <i class="fa fa-bar-chart"></i> Elasticsearch queries</span>
    	</a>
    	<a class="col-xs-12 col-md-4" href="http://docs.appbase.io/#/v2.0/search/quick-start">
    		<span> <i class="fa fa-search"></i> Full-text search</span>
    	</a>
    	<a class="col-xs-12 col-md-4" href="http://docs.appbase.io/#/v2.0/concepts/datamodel">
    		<span> <i class="fa fa-database"></i> Our datamodel</span>
    	</a>
    	<a class="col-xs-12 col-md-4" href="mailto:info@appbase.io">
    		<span> <i class="fa fa-life-ring"></i> Need support?</span>
    	</a>

    </div>

  </div>
</div></div>
  <script type="text/javascript" src="/scripts/analytics.js"></script>
  <script type="text/javascript" src="/scripts/main.js"></script>
  <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

</body></html>