@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);

.navbar-brand img{
	display: block;
	margin-top: -7px;
	height: 34px;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 1em;
}

body:not(.no-literate) .content h1 {
	display: block;
	width: 550px;
}

.menu a.active:after {
	top: 10px;
	left: -15px;
	width: 9px;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6, .menu {
	font-family: 'Source Sans Pro';
	font-weight: 700;
}

.menu a.level-1 {
	font-family: 'Source Sans Pro';
	font-weight: 700; 
}

.dropdown-menu.version-switcher {
	min-width: 0;
	width: 68px;
}

@media (min-width: 1350px) {
  body:not(.no-literate) .content-root {
    background-color: #f3f6fb;
    -webkit-box-shadow: inset 850px 0 #fff, inset 851px 0 #dfe2e7, inset 860px 0 5px -10px rgba(0,0,0,0.1);
    box-shadow: inset 850px 0 #fff, inset 851px 0 #dfe2e7, inset 860px 0 50px -90px rgba(0,0,0,0.1);
  }
  body {
    font-size: 1em;
  }
  .content-root {
    padding-left: 300px;
  }
  .menubar {
    width: 300px;
  }
  body:not(.no-literate) .content {
    padding-left: 0;
    padding-right: 0;
    width: 930px;
    max-width: none;
  }
  body:not(.no-literate) .content > p,
  body:not(.no-literate) .content > ul,
  body:not(.no-literate) .content > ol,
  body:not(.no-literate) .content > h1,
  body:not(.no-literate) .content > h2,
  body:not(.no-literate) .content > h3,
  body:not(.no-literate) .content > h4,
  body:not(.no-literate) .content > h5,
  body:not(.no-literate) .content > h6,
  body:not(.no-literate) .content > pre,
  body:not(.no-literate) .content > blockquote {
    width: 550px;
  }
  body:not(.no-literate) .content > pre,
  body:not(.no-literate) .content > blockquote {
    width: 380px;
    padding-left: 20px;
    padding-right: 20px;
    float: right;
    clear: right;
    white-space: pre-wrap;
  }
  body:not(.no-literate) .content > h4,
  body:not(.no-literate) .content > h5,
  body:not(.no-literate) .content > .small-heading,
  body:not(.big-h3) body:not(.no-literate) .content > h3 {
    margin-left: 40px;
    width: 470px;
    margin-bottom: 3px;
    padding-left: 0;
    padding-right: 0;
  }
  body:not(.no-literate) .content > table {
    margin-left: 40px;
    margin-right: 40px;
    max-width: 470px;
  }
  body:not(.no-literate):not(.big-h3) .content > h3 {
    margin-left: 40px;
    width: 470px;
    margin-bottom: 3px;
    padding-left: 0;
    padding-right: 0;
  }
  .content h1:before, .content h2:before, .content .big-heading:before, body.big-h3 .content h3:before {
  	width: 900px;
  }
}

@media (min-width: 1180px) {
  body:not(.no-literate) .content {
    width: 980px;
  }
  body:not(.no-literate) .content > pre {
    width: 420px;
  }
}
.content pre {
  border: 1px solid #aaa;
  box-shadow: inset 0 0 10px #ddd;
}
li.active {
  text-decoration: underline;
}
.http-url {
  color: #3ac;
}
.inline-heading {
  color: #aaa;
}
.path-var {
  color: #3ac;
  border-bottom: 1px dotted #3ac;
  padding: 0px 2px;
}
.request-type {
  background: #008f00;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  padding: 3px;
  font-size: 0.8em;
}
p {
  font-size: 1.1em;
}
.content ul li p {
  font-size: 1.0em;
}
.content ul li {
  font-size: 1.0em;
}
.content p code {
  font-size: 0.9em;
}
.content h3 {
  font-size: 2.0em;
}
.content pre > code {
  font-size: 1.0em;
}
.content pre > code span.keyword {
  font-size: 1.1em;
}
.content pre > code span.comment {
  font-size: 0.8em;
}